

<section role="main" class="page-wrapper">


<section id="dashboard" class="goal-setting">
 		 
			
    <h1> My Goal Setting</h1>        
            
 <!--
  <nav style="float:right;margin-top:-40px;margin-right:30px; ">
					<a href="#" style="width: 80px; font-size: 20px;padding-left: 20px;" class="toggle-options-switch button red active"> Today</a>
					<ul class="options-switch" style="display: none; width: 100px; right: 50px; margin-left: -9.990740776062012px; ">
						<li><a href="#">Today </a></li>
						<li><a href="#">Week </a></li>
						<li><a href="#">Month</a></li>
					</ul>
				</nav>
     -->       
 
                                  
			
		</section>




<article class="goal-setting content-box col-2 clear-rm">
			<header>
			</header>
			<section>
				
				<!-- Accordion -->
				<ul class="accordion">
					<!-- Accordion Tab -->
					<li class="add-goal">
						<a class="accordion-switch" href=""><h3>  Prospecting</h3><%= image_tag("settings.png", :class=>"settings") %></a>
						<div style="display: none; " class="fold-out">
							


<form class="horizontal-form">
<fieldset>
<dl>

<dt><label> Enter you goals</label></dt>
<dd>
<select class="product_option_id">
                
                  <option value="50a1e4b282d15100020003a6" selected="selected">week</option>
                  <option value="50a1e4b282d15100020003a6" >month</option>
                  <option value="50a1e4b282d15100020003a6" >day</option>
  
                </select>

</dd>

<dt><label> Leads</label></dt>
<dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Contacts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Accounts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dt><label> </label></dt>
<dd>
<button type="submit" class="disabled gray">Save</button>

</dd>
<dl>



</fieldset>


</form>



						</div>
					</li>
					<!-- /Accordion Tab -->
					
					<!-- Accordion Tab -->
					<li class="add-goal">
						<a class="accordion-switch" href=""><h3> Emailing</h3>

<%= image_tag("settings.png", :class=>"settings") %>
</a>
						<div style="display: none; " class="fold-out">


<form class="horizontal-form">
<fieldset>
<dl>
<dt><label> Leads</label></dt>
<dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Contacts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Accounts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dl>
</fieldset>

</form>

						</div>
					</li>
					<!-- /Accordion Tab -->
					
					<!-- Accordion Tab -->
					<li class="add-goal">
						<a class="accordion-switch" href=""><h3>Calling</h3>
<%= image_tag("settings.png", :class=>"settings") %>
</a>
						<div style="display: block; " class="fold-out">

<form class="horizontal-form">
<fieldset>
<dl>
<dt><label> Leads</label></dt>
<dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Contacts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Accounts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dl>
</fieldset>

</form>

						</div>
					</li>
					<!-- /Accordion Tab -->
					
					<!-- Accordion Tab -->
					<li class="add-goal">
						<a class="accordion-switch" href=""><h3> Tweeting</h3>
<%= image_tag("settings.png", :class=>"settings") %>
</a>
						<div style="display: none; " class="fold-out">


<form class="horizontal-form">
<fieldset>
<dl>
<dt><label> Leads</label></dt>
<dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Contacts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Accounts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dl>
</fieldset>

</form>
						</div>
					</li>
					<!-- /Accordion Tab -->


                                        <!-- Accordion Tab -->
                                        <li class="add-goal">
                                                <a class="accordion-switch" href=""><h3> Proposals</h3>
<%= image_tag("settings.png", :class=>"settings") %>
</a>
                                                <div style="display: none; " class="fold-out">
<form class="horizontal-form">
<fieldset>
<dl>
<dt><label> Leads</label></dt>
<dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Contacts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Accounts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dl>
</fieldset>

</form>                                                        

                                                </div>
                                        </li>
                                        <!-- /Accordion Tab -->


                                        <!-- Accordion Tab -->
                                        <li class="add-goal">
                                                <a class="accordion-switch" href=""><h3>  Deals</h3>
<%= image_tag("settings.png", :class=>"settings") %>
</a>
                                                <div style="display: none; " class="fold-out">
<form class="horizontal-form">
<fieldset>
<dl>
<dt><label> Leads</label></dt>
<dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Contacts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dt><label> Accounts</label></dt><dd><input type="text" class="small" name="" value=""></dd>

<dl>
</fieldset>

</form>

                                                </div>
                                        </li>
                                        <!-- /Accordion Tab -->


				</ul>
				<!-- /Accordion -->
				
			</section>
		</article>




</section>



