

	<!-- Main Content -->
	<section role="main" class="page-wrapper">
	
		<!-- Dashboard -->
		<section id="dashboard">
 		 
			
    <h1> My Progress Dashboard</h1>        
            
 
  <nav style="float:right;margin-top:-40px;margin-right:30px; " >

 <% if (params[:period]) && (params[:period].eql?("weekly")) %>
<a href="#" style="width: 80px; font-size: 20px;padding-left: 20px;" class="toggle-options-switch button red active"> Week</a>
<% elsif (params[:period]) && (params[:period].eql?("monthly")) %>
<a href="#" style="width: 80px; font-size: 20px;padding-left: 20px;" class="toggle-options-switch button red active"> Month</a>
<% else %>
<a href="#" style="width: 80px; font-size: 20px;padding-left: 20px;" class="toggle-options-switch button red active"> Today</a>
<% end %>
			
	
					<ul class="options-switch" style="display: block; width: 100px; right: 50px;">
						<li><a href="/admin">Today </a></li>
						<li><a href="/admin?period=weekly">Week </a></li>
						<li><a href="/admin?period=monthly">Month</a></li>
					</ul>
				</nav>
            
 
                                  
			<!-- Nav Shortcuts -->
			<ul class="shortcuts" style="display:none;">
				<li class="shortcut-contacts"><a href="" title="">New Orders </a> <span class="small-notification">3</span></li>
				<li class="shortcut-sales"><a href="" title=""> Total $10,000</a>  </li>

				<li class="shortcut-articles"><a href="" title="">Messages</a></li>
 			</ul>
			<!-- /Nav Shortcuts -->
			
		</section>
		<!-- /Dashboard -->



<article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 50px; "> Prospecting</h2>

            </header>



			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 
			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>
                
         


<% if (@goals_prospecting) && (@goals_prospecting.count > 0) && (@goals_prospecting.count > 0) %>


<% for goal in @goals_prospecting %>

	<% total = 0 %>
	<% if (params[:period]) && (params[:period].eql?("monthly")) %> 
        	<% @month_ago = Date.today - 30.days %>        
		<% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@month_ago.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
	<% elsif (params[:period]) && (params[:period].eql?("weekly")) %>	
		<% @week_ago = Date.today - 7.days %>
        	<% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
	<% else %>
		<% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>Date.today.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
	<% end %>

	<% for point in @data_points %>
	<% if point.quantity %>
	<% total = point.quantity + total %>
	<% end %>
	<% end %>
                                        <li>
                                        <p class="stat-title"> <%= goal.name %></p>
                                <div class="progress-bar green medium individual-stat">
                                        <div style="width:100%;">

                                        </div>
                                </div>
                                <div class="progress-bar red medium individual-stat">
                                        <div style="width:40%;">

						<% if total %>
                                                <span> <%= ( (total.to_f) / (goal.quantity.to_f)) %><sup>%</sup></span>
						<% else %>			
                                                <span> 0<sup>%</sup></span>

						<% end %>
                                        </div>
                                </div>
                                                <strong class="stats-count first"> <%= goal.quantity %> </strong>
                                                <strong class="stats-count second">  <%= total %> </strong>
                                                <a href="#" class="button stats-view " data-id="<%= goal.id %>" title="View new registrations"> Add</a>
                                        </li>

<% end %>

<% end %>                   
				</ul>
	 
				
			</section>
			
		</article>
        
 
        
               
                      
  <article class="content-box minimizer col-2 quarter salesboard-stat-block">
			<header>
				<h2 style="padding-right: 50px; "> Calling</h2>


            </header>


			
 			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 
			
 				<ul class="stats-summary" style="width:470px;float:left;">
                
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>
                
  
                
   <% if (@goals_calling) && (@goals_calling.count > 0) %>
   <% for goal in @goals_calling %>                                                       


        <% total = 0 %>
        <% if (params[:period]) && (params[:period].eql?("monthly")) %>
                <% @month_ago = Date.today - 30.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% elsif (params[:period]) && (params[:period].eql?("weekly")) %>
                <% @week_ago = Date.today - 7.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% else %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>Date.today.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% end %>

        <% for point in @data_points %>
        <% if point.quantity %>
        <% total = point.quantity + total %>
        <% end %>
        <% end %>


					<li>
                    
                    
               <p class="stat-title"> <%= goal.name %> </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
 

 				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
                     
						<strong class="stats-count first"><%= goal.total %></strong>
						<strong class="stats-count second"><%= goal.quantity %></strong>
                                                <a href="#" class="button stats-view " data-id="<%= goal.id %>" title="View new registrations"> Add</a>
                        

					</li>
  <% end %>                  
 <% else %>
 
   
                                                          
                                                                             
	<% end %>				 
				</ul>
 


   <% if (@goals_calling) && (@goals_calling.count > 3) %>

			
 				<ul class="stats-summary" style="width:470px;float:right;position:absolute;right:0px;">
                
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>
                
                
                
 <% for goal in @goals_calling %>               


        <% total = 0 %>                 
        <% if (params[:period]) && (params[:period].eql?("monthly")) %>
                <% @month_ago = Date.today - 30.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% elsif (params[:period]) && (params[:period].eql?("weekly")) %>
                <% @week_ago = Date.today - 7.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% else %>              
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>Date.today.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% end %>                       
                                
        <% for point in @data_points %>
        <% if point.quantity %>
        <% total = point.quantity + total %>
        <% end %>                       
        <% end %>

					<li>
                    
                    
               <p class="stat-title"> <%= goal.name %></p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
 

 				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
                     
						<strong class="stats-count first"> <%= goal.total %></strong>
						<strong class="stats-count second"><%= goal.quantity %></strong>
                                                <a href="#" class="button stats-view " data-id="<%= goal.id %>" title="View new registrations"> Add</a>
                        

					</li>
                    
                                         
 	<% end %>			                                               
					 
				</ul>
<% end %>                
	 
				
			</section>
			
		</article>                           
                                           
        
 <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 50px; "> Emailing</h2>
			
            </header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 


			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                 
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
                
               
<% if (@goals_emailing) && (@goals_emailing.count > 0) %> 

<% for goal in @goals_emailing %>

        <% total = 0 %>                 
        <% if (params[:period]) && (params[:period].eql?("monthly")) %>
                <% @month_ago = Date.today - 30.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% elsif (params[:period]) && (params[:period].eql?("weekly")) %>
                <% @week_ago = Date.today - 7.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% else %>              
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>Date.today.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% end %>                       
                                
        <% for point in @data_points %>
        <% if point.quantity %>
        <% total = point.quantity + total %>
        <% end %>                       
        <% end %>


                         <li>
               <p class="stat-title"> <%= goal.name %></p>    
                                <div class="progress-bar green medium individual-stat">
                                        <div style="width:100%;">
                                        </div>
                                </div>
                                <div class="progress-bar red medium individual-stat">
                                        <div style="width:40%;">
                                                <span>80<sup>%</sup></span>
                                        </div>
                                </div>
                                                <strong class="stats-count first"> <%= goal.quantity %></strong>
                                                <strong class="stats-count second"><%= goal.total %></strong>
                                                <a href="#" class="button stats-view " data-id="<%= goal.id %>" title="View new registrations"> Add</a>

                                        </li>

<% end %>

<% else %>

<!--
					<li>
               <p class="stat-title"> New Email Sent</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">						 
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>

 					<li>
                    
                    
               <p class="stat-title"> Email Callback</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>


				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
                    
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
                                       
 					<li>
                    
                    
               <p class="stat-title"> Email Conversation</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>


				<div class="progress-bar blue medium individual-stat">
					<div style="width:100%;">
						<span>100<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                    
-->

<% end %>                                                          
                                                                             
					 
				</ul>


	 
				
			</section>
			
		</article>
        
       
  
   
    
     <!--
  <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 50px; "> Tweeting</h2>
             </header>
			
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				<ul class="stats-summary">
                
                 
                <li class="first">
               <p class="stat-title header-title"> Goal</p>     
               <p class="stat-title header-title second"> Actual</p>     
                </li>               
					<li>
               <p class="stat-title"> Twitter New Tweet</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count first">17</strong>
						<strong class="stats-count second">20</strong>
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
 					<li>
               <p class="stat-title"> Twitter Callback</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
 					<li>
               <p class="stat-title"> Twitter Conversation</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
					</div>
				</div>
				<div class="progress-bar blue medium individual-stat">
					<div style="width:100%;">
						<span>100<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
				</ul>
			</section>
		</article>      
   -->

 
   <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 50px; "> Meetings</h2>
             
            </header>
			
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				<ul class="stats-summary">
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
               
<% if (@goals_meetings) && (@goals_meetings.count > 0) %>
                

<% for goal in @goals_meetings %>

        <% total = 0 %>                 
        <% if (params[:period]) && (params[:period].eql?("monthly")) %>
                <% @month_ago = Date.today - 30.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% elsif (params[:period]) && (params[:period].eql?("weekly")) %>
                <% @week_ago = Date.today - 7.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% else %>              
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>Date.today.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% end %>                       
                                
        <% for point in @data_points %>
        <% if point.quantity %>
        <% total = point.quantity + total %>
        <% end %>                       
        <% end %>

					<li>
               <p class="stat-title"> <%= goal.name %> </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count first"> <%= goal.total %></strong>
						<strong class="stats-count second"> <%= goal.quantity %></strong>
                                                <a href="#" class="button stats-view " data-id="<%= goal.id %>" title="View new registrations"> Add</a>

					</li>
<% end %>

<% else %>

<!--
 					<li>



               <p class="stat-title"> Meeting Executed</p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
    -->

<% end %>                
                                       
  
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>        
          




  <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 50px; "> Proposals</h2>

            </header>
			
			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				
 


			
				<!-- Stats Summary -->
				<ul class="stats-summary">
                
                 
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     

               <p class="stat-title header-title second"> Actual</p>     

                
                </li>               
                
                
               
<% if (@goals_proposals) && (@goals_proposals.count > 0) %>

<% for goal in @goals_proposals %>

        <% total = 0 %>                 
        <% if (params[:period]) && (params[:period].eql?("monthly")) %>
                <% @month_ago = Date.today - 30.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% elsif (params[:period]) && (params[:period].eql?("weekly")) %>
                <% @week_ago = Date.today - 7.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% else %>              
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>Date.today.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% end %>                       
                                
        <% for point in @data_points %>
        <% if point.quantity %>
        <% total = point.quantity + total %>
        <% end %>                       
        <% end %>

					<li>
               <p class="stat-title"> <%= goal.name %> </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count first"><%= goal.total %></strong>
						<strong class="stats-count second"><%= goal.quantity %></strong>
                                                <a href="#" class="button stats-view " data-id="<%= goal.id %>" title="View new registrations"> Add</a>
                       
 
					</li>
<% end %>                   

<% else %>
 
<% end %>
	 
				
			</section>
			
		</article>   



  <article class="content-box minimizer col-3 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 50px; "> Deals</h2>
			 </header>
			
			<section id="hcard-Kevin-Glenn-Bates"  style="display: block; ">
				<ul class="stats-summary">
                <li class="first">
                
               <p class="stat-title header-title"> Goal</p>     
               <p class="stat-title header-title second"> Actual</p>     
                </li>               
                
                
<% if (@goals_deals) && (@goals_deals.count > 0) %>
               
<% for goal in @goals_deals %> 

        <% total = 0 %>                 
        <% if (params[:period]) && (params[:period].eql?("monthly")) %>
                <% @month_ago = Date.today - 30.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% elsif (params[:period]) && (params[:period].eql?("weekly")) %>
                <% @week_ago = Date.today - 7.days %>
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>@week_ago..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% else %>              
                <% @data_points = DataPoint.where(:goal_id=>goal.id, :created_at=>Date.today.beginning_of_day..Date.today.end_of_day, :user_id=>current_user.id).all %>
        <% end %>                       
                                
        <% for point in @data_points %>
        <% if point.quantity %>
        <% total = point.quantity + total %>
        <% end %>                       
        <% end %>
					<li>
               <p class="stat-title"> <%= goal.name %> </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count first"> <%= goal.total %></strong>
						<strong class="stats-count second"> <%= goal.quantity %> </strong>
                                                <a href="#" class="button stats-view " data-id="<%= goal.id %>" title="View new registrations"> Add</a>

					</li>
<% end %>                   
<% else %> 
 	
<!--
				<li>
                    
 
               <p class="stat-title"> Won </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>


				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
                                       
  					<li>
                    
                    
               <p class="stat-title"> Lost </p>     
 				<div class="progress-bar green medium individual-stat">
					<div style="width:100%;">
						 
					</div>
				</div>
				<div class="progress-bar red medium individual-stat">
					<div style="width:40%;">
						<span>80<sup>%</sup></span>
					</div>
				</div>
						<strong class="stats-count">17</strong>
						<strong class="stats-count second">20</strong>
                        
 						<a href="#" class="button stats-view tooltip" title="View new registrations">View</a>
					</li>
        -->            
<% end %>                                                
                                                                                                     
  
                                                          
                                                                             
					 
				</ul>
				<!-- /Stats Summary -->


	 
				
			</section>
			
		</article>  

		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
 
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
	 
		
		 
		
	 
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
 
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
		 
		
	 

		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->


		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
	
		
		<div class="clearfix"></div> <!-- We're really sorry for this, but because of IE7 we still need separated div with clearfix -->
	  
		
	 
	
	</section>
	<!-- /Main Content -->




