

<section role="main" class="page-wrapper">



<section id="dashboard">
 		 
    <h1> Account Settings</h1>			
			
		</section>




<article class="content-box minimizer col-2 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Salespeople Manager</h2>
            <a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 126.01851844787598px; ">Toggle</a></header>

			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates" style="display: block; ">

<h3>Current Salespeople</h3>

<ul class="tickets">


<% if (@salespeople) && (@salespeople.count > 0) %>
<% for people in @salespeople %>
<li class="ticket-data">	
								<!-- Ticket Overview -->
								<div class="ticket-overview">
									<ul style="
">

										<li class="ticket-data-ticket">
											<%= people.firstname %> <%= people.lastname %>
										</li>

										<li class="ticket-data-user">
											<%= people.company %> 
										</li>
										<li class="ticket-data-priority">
											<span class="tag red">Delete</span>
										</li>
									</ul>


								</div>
								<!-- /Ticket Overview -->
							</li>
<% end %>
<% end %>


<li class="ticket-data">
                                                                <!-- Ticket Overview -->
                                                                <div class="ticket-overview" style="display:none;">
                                                                        <ul style="
">
                                                                                <li class="ticket-data-ticket">
                                                                                        Jorge Soto
                                                                                </li>

                                                                                <li class="ticket-data-user">
                                                                                        Best Deals Ltd.
                                                                                </li>
                                                                                <li class="ticket-data-priority">
                                                                                        <span class="tag red">Delete</span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                                <!-- /Ticket Overview -->




<div class="ticket-details" style="display:block;">



									<h4> Add Salesperson</h4>

<form method="post" id="sales-manager" action="/users/add_salesperson" class="form-horizontal">

<% if @user %>
<input type="hidden" value="<%= @user.id %>" name="user_id" />
<% end %>

  <div class="control-group">
    <label class="control-label" for="inputPassword"> First Name</label>
    <div class="controls">
      <input type="text" id="inputPassword" name="user[firstname]" placeholder="First Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputassword"> Last Name</label>
    <div class="controls">
      <input type="text" id="inputassword" name="user[lastname]" placeholder="Last Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email" name="user[email]" >
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <a onclick="$('#sales-manager').submit()" class="btn-large btn btn-the-salmon-dance-3" style="font-size: 21px;"> Add Salesperson</a>
    </div>
  </div>
</form>



								</div>
                                                        </li>
</ul>
</section>
			
		</article>




<article class="content-box minimizer col-2 salesboard-stat-block">
			<header>
				<h2 style="padding-right: 90px; "> Office Location Manager</h2>
            <a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 189px; ">Toggle</a><a href="#" class="content-box-minimizer" title="Toggle Content Block" style="display: block; left: 189px; ">Toggle</a></header>

			<!-- User Profile - vCard -->
			<section id="hcard-Kevin-Glenn-Bates" style="display: block; ">

<h3>Current Office Location</h3>

<ul class="tickets">

<% if (@locations) && (@locations.count > 0) %>

<% for office in @locations %>
<li class="ticket-data">	
								<!-- Ticket Overview -->
								<div class="ticket-overview">
									<ul style="
">
										<li class="ticket-data-ticket">
											<%= office.name %>
										</li>

										<li class="ticket-data-user">
										</li>
										<li class="ticket-data-priority">
											<span class="tag red">Delete</span>
										</li>
									</ul>
								</div>
								<!-- /Ticket Overview -->
								
								
							</li>
<% end %>
<% end %>

<li class="ticket-data">
                                                                <!-- Ticket Overview -->
                                                                <div class="ticket-overview" style="display:none;">
                                                                        <ul style="
">
                                                                                <li class="ticket-data-ticket">
                                                                                        Los Angeles, CA
                                                                                </li>

                                                                                <li class="ticket-data-user">
                                                                                </li>
                                                                                <li class="ticket-data-priority">
                                                                                        <span class="tag red">Delete</span>
                                                                                </li>
                                                                        </ul>
                                                                </div>
                                                                <!-- /Ticket Overview -->




<div class="ticket-details" style="display:block;">



									<h4> Office Location</h4>

<form class="form-horizontal" id="location-form" method="post">
  <div class="control-group">
    <label class="control-label" for="inputPassword"> First Name</label>
    <div class="controls">
      <input type="text" id="inputPassword" placeholder="First Name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="inputPassword"> Office Location</label>
    <div class="controls">



<div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown trigger</a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a> City 1</a></li>
    <li><a> City 2</a></li>
  </ul>
</div>

    </div>
  </div>




  <div class="control-group">
    <div class="controls">
      <a onclick="$('#location-form').submit();" class="btn-large btn btn-the-salmon-dance-3" style="font-size: 21px;"> Add Office Location</a>
    </div>
  </div>
</form>



<!--
<form class="horizontal-form">
<fieldset>

									<dl style="background-color: transparent; border-color: transparent;">
<dt><label>Nombre</label></dt>
<dd><input type="text"  name="" value="" /></dd>

<dt><label>Password</label></dt>
<dd><input type="password"  name="" value="" /></dd>

<dt><label>Email</label></dt>
<dd><input type="email"  name="" value="" /></dd>

									</dl>
</fieldset>
</form>
-->
								</div>
                                                        </li>
</ul>
</section>
			
		</article>


</section>
