
<!doctype html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<title>
Salesboard Admin 
</title>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Icons -->
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
<%= stylesheet_link_tag "bootstrap.min.css" %>

<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "screen.css", "colors.css", "jquery.muon.css", "jquery.tipsy.css", "jquery.wysiwyg.css", "jquery.datatables.css", "jquery.nyromodal.css", "jquery.datepicker.css", "jquery.fileinput.css", "jquery.fullcalendar.css", "jquery.visualize.css", "jquery.snippet.css", "bootstrap-buttons.css", "token-input-facebook.css", "token-input.css" %> 

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!--
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
-->
	
	<!-- Google WebFonts -->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Open+Sans:400,400italic,700,700italic&amp;v2' rel='stylesheet' type='text/css'>
	
	<!-- Modernizr adds classes to the <html> element which allow you to target specific browser functionality in your stylesheet -->
	<script src="js/libs/modernizr-1.7.min.js"></script>

<style>

.delete-form .red {
cursor:pointer;
}

.alert-info{
width: 500px;
margin-left: auto;
margin-right: auto;
}

#salesforce-connected {
float: left;
margin-top: 130px;
}

.sf-no-use{
margin-left: 35px;
margin-top: -20px;
}
.content-box.salesboard-stat-block .progress-bar.individual-stat
        {
float:left;
margin-bottom:0px;
}

.content-box.salesboard-stat-block .progress-bar.individual-stat
        {
float:left;
}

.content-box.salesboard-stat-block .stats-count
{
position:absolute;
margin-left:200px;
color:#549929;

}
.content-box.salesboard-stat-block .stats-count.second {
margin-left: 270px;
color:#993B28;
}
.content-box.salesboard-stat-block .stats-summary li{
border: none;
background: transparent;
}

.content-box section .stats-summary p.stat-title {
position:absolute;
margin-top: -18px;
 
}

.content-box section .stats-summary p.stat-title.header-title {

margin-left: 250px;
 
}

.content-box section .stats-summary p.stat-title.header-title.second {

margin-left: 320px;
 
}

.content-box section .stats-summary li.first {
min-height: 12px;
}


.goal-setting header {
display: none;
}

.goal-setting section{
background-color: transparent;
border:none;
}



.goal-setting.content-box {
background:none;
}


.goal-setting.content-box .accordion-switch{
background:white;
}

.content-box section .accordion li {
margin-bottom: 10px;
margin-top: 10px;
background: white;

}

.content-box section .accordion .accordion-switch {
border-color: transparent;
}


.content-box section .accordion .fold-out p
{
margin: 20px;
display: block;
padding-bottom: 20px;
padding-top: 10px;
}


.accordion .add-goal .accordion-switch h3 {
text-transform: uppercase;
color:#666;
}


.add-goal .accordion-switch
{
position: relative;
}

.accordion-switch .settings {
border:none;
position: absolute;
top: 5px;
right: 10px;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
opacity: 0.1;
width: 25px;
}

.add-goal{
-webkit-box-shadow: 3px 3px 10px #B3B3B3;
-moz-box-shadow: 3px 3px 10px #b3b3b3;
box-shadow: 3px 3px 10px #B3B3B3;
}

input.small, textarea.small {
width: 35%;
}

label {
color: #333;
font-size: 16px;
font-weight:normal;
}

input[type="text"], input[type="email"], input[type="password"], textarea, select {
font-size: 16px;
}

.add-goal fieldset{
border: none;
}

.add-goal select {
font-family: inherit;
font-size: 14px;
color: #BBBDC0;
cursor: pointer;
}

.add-goal select {
width: 230px;
height: 14px;
font-family: inherit;
font-size: 14px;
color: #BBBDC0;
background: white;
border: none;
-moz-appearance: none;
-webkit-appearance: none;
appearance: none;
background: url(../images/select.png) center right no-repeat;
background-color: #f9f9f9;
cursor: pointer;
height: 40px;
}

.add-goal:hover h3{
opacity: 0.5;
}

.add-goal .gray {
font-size: 17px;
font-weight: normal;
width:100px;
}


.goal-setting.col-2 {
width: 45%;
}

.stats-summary img {
border-color: transparent;
border: none;
-webkit-box-shadow: none;
box-shadow: none;
-moz-box-shadow: none;
width: 150px;
}

.stats-summary li p {
font-size: 20px;
}

.stats-summary p {

width:100%;
}



.form-horizontal input[type="text"], select, textarea {
width: 360px;
}

.ticket-data-priority .tag:hover {
opacity:0.7;
}

.tickets .ticket-header li, .tickets .ticket-data .dropdown-menu li {
width:100%;
}

</style>



	
</head>
<body>

	<!-- Muon jQuery Sticky Dropdown Menu 1.0 -->
	<header class="muon">
	
		<div class="navigation-wrapper">
		
			<!-- Logo -->
			<a href="/" class="muon-logo" title="Back to homepage">Your logo</a>
			
			<!-- Root navigation block -->
			<nav style="float:left;height: 40px;">
			
				<!-- Root menu level -->
				<ul>
					
					<!-- Root menu items -->
 					 
					
					<!-- Root menu item -->
					<li style="height: 10px;"><a href="/signout" class="muon-no-submenu">Logout</a>
						<% if (current_user) && (current_user.type.eql?"SalesPerson") %> 
	                                        <li style="height: 10px;"><a href="/admin" class="muon-no-submenu">Dashboard</a> 
                                                <li style="height: 10px;"><a href="/goals/<%= current_user.id %>" class="muon-no-submenu"> Add Metrics</a>
						<% elsif (current_user) && (current_user.type.eql?"Manager")  %>
                                                <li style="height: 10px;"><a href="/settings/<%= current_user.id %>" class="muon-no-submenu"> Edit Sales team</a>
						<% end %>

					</li>
	 
	
				
				<!-- End of root menu level -->
				</ul>
				
			<!-- End of root navigation block -->
			</nav>
			
<span class="connected-salesforce">
<%= image_tag("sf-admin.png") %>
</span>

			<!-- User list -->
			<ul class="muon-user-list">

				<% if current_user %>
				<li class="muon-user-data">Welcome, <a href="#"><%= current_user.firstname %></a></li>
				 <% end %>
			</ul>
			
		</div>
	
	</header>
	<!-- End of Muon Header -->		
	

<%= yield %>
	
	<!-- Main Footer -->
	<footer id="footer">
		<div class="page-wrapper">
			<section>
 				 	
				 
				
			</section>
			<section>
 				 
			</section>
			<section>
 				 
			</section>
		</div>
	</footer>
	<!-- /Main Footer -->
	
	<!-- Main Loading Notification -->
	<div class="loading-notification" style="display:none;">Loading&hellip;</div>
	<!-- /Main Loading Notification -->
	
	<!-- Sample Modal Window -->
	<div id="sample" class="modal-content">
		<h1>nyroModal</h1>
		<p>Ajax Call, Ajax Call with targeting content, Single Image, Images Gallery with arrow navigating, Gallery with any kind of content, Form, Form in iframe, Form with targeting content, Form with file upload, Form with file upload with targeting content, Dom Element, Manual Call, Iframe, Stacked Modals, Many embed element through Embed.ly API, Error handling, Modal will never goes outside the view port, Esc key to close the window, Customizable animation, Customizable look, Modal title.</p>
		<a href="http://nyromodal.nyrodev.com/" class="outside">http://nyromodal.nyrodev.com</a>
	</div>
	<!-- /Sample Modal Window -->

	<!-- JavaScript at the bottom for faster page loading 

-->



	<!--[if IE]><script src="js/jquery/excanvas.js"></script><![endif]--><!-- IE Canvas Fix for Visualize Charts -->

 

    <%= javascript_include_tag "libs/selectivizr.js", "jquery/jquery.visualize.js", "jquery/jquery.visualize.tooltip.js", "jquery/jquery.tipsy.js","jquery/jquery.datatables.js", "jquery/jquery.datepicker.js", "jquery/jquery.fileinput.js", "jquery/jquery.fullcalendar.min.js", "jquery/jquery.ui.totop.js", "jquery/jquery.ui.totop.js", "jquery/jquery.snippet.js", "jquery/jquery.muonmenu.js", "jquery/jquery.muonmenu.js", "script.js", "bootstrap.js", "jquery.tokeninput.js", "bootstrap-modal.js" %>

<div style="display:none;" class="modal fade" id="confirmation-add">
  <div class="modal-header" style="padding: 10px;height: 40px;">

    <a class="close" data-dismiss="modal">×</a>
    <h3 id="modal-head" style="color:#676767;">
Add to metrics
</h3>


</div>
  <div class="modal-body">

<p class="order-message" style="font-size: 16px;line-height: 20px;" >

<form class="form-horizontal">

 <div class="control-group">
    <label class="control-label" for="inputEmail">Quantity</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="" style="width: 200px;">
    </div>
  </div>

</form>

</p>
</div>

  <div class="modal-footer">
<a class="button btn btn-large add-metric-trigger" style="color:white;"> Add Metric</a>
  </div>
 </div>




<script>
$(document).ready(function(){

$(".add-goal .small").focus(function() {

var $input = $(this);

$("label").css("font-weight", "normal");

$input.parent("dd").prev("dt").find("label").css("font-weight", "bold");
var $button = $(this).parents(".horizontal-form").find(".gray");
if ($button.hasClass("disabled")){
$button.removeClass("disabled");
}
});

});
</script>

</body>
</html>


